extends ../../layout

block stylesheets
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/user-settings.css')
block content
    //
      User Profile Sidebar by @keenthemes
      A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
      Licensed under MIT
    .container
        .row.profile
            .col-md-3
                .profile-sidebar
                    nav.nav.flex-column.profile-usermenu
                        a.nav-link(class=title==='Profile Setting' ? 'active' : undefined, href='profile') Profile
                        a.nav-link(class=title==='Account Setting' ? 'active' : undefined, href='account') Account
            .col-md-9
                .profile-content
                    .row
                        .col-md-9
                            .container
                                .col-sm-12.col-md-10.mx-auto
                                    .row
                                        #messages.col-12
                                            != messages()

                                    // Username Change ///////////////////////////////////////////////////////////////////////
                                    //////////////////////////////////////////////////////////////////////////////////////////
                                    #change-username
                                        h5.font-weight-bold Change Name
                                    hr
                                    form#changeNameForm.form-horizontal(method='post', action='/users/' + user.username + '/settings/profile/change_name', novalidate='novalidate')
                                        .form-group
                                            .row
                                                label.col-sm-12.col-md-4.control-label(for='name') Name
                                                .col-sm-12.col-md-8
                                                    input#name.form-control(type='text', name='name', value=user.name, placeholder='Name', aria-required='true', aria-describedby='name-error', aria-invalid='false')
                                                    if (errors)
                                                        if (errors.name)
                                                            #name-error.error.invalid-feedback= errors.name.msg
                                        .form-group
                                            .row
                                                .col-sm-12.col-md-4
                                                .col-sm-12.col-md-4
                                                    button.btn.btn-default.btn-secondary(type='submit', value='Update Name') Update Name
                        .col-md-3
                            form#profileImgForm.form-horizontal(method='post', action='/users/' + user.username + '/settings/profile/profile_img', enctype="multipart/form-data", novalidate='novalidate')
                                .profile-userpic
                                    if (user.profileImg)
                                        img#profileImgDisplay.rounded.mx-auto.d-block.img-fluid(src='/images/uploads/' + user.profileImg.filename)
                                    input(type="file", id="profileImg", name="profileImg", style='display: none;', accept="image/png,image/jpg,image/jpeg")
                                .profile-userbuttons
                                    button#chooseImgBtn.btn.btn-default.btn-secondary.btn-sm(type="button") Choose Image

block scripts
    script.
        $('#chooseImgBtn').on('click', function () {
          console.log('aa');
          $("#profileImg").click();
        });

        $('#profileImg').on('change', function () {
            readURL(this);
            $('#chooseImgBtn').remove();
            $('.profile-userbuttons')
              .append('<button id="upload-img" type="submit" class="btn btn-default btn-success btn-sm">Upload</button>')
              .on('click', 'button#upload-img', function () {
              $("#profileImgForm").click(function (event) {
                if ($("#profileImg").val() !== null) {
                  $('#profileImgForm').ajaxSubmit({
                    contentType: 'application/json',
                    success: function (res) {
                      console.log('Successfully Registered: ', res);
                    }
                  });
                  return false;
                }

                $("#messages").text("Not valid!").show().fadeOut(1000);
                event.preventDefault();
              });
            });
        });
        function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#profileImgDisplay')
              .attr('src', e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
        }
