extends ../layout

block stylesheets
    link(rel='stylesheet', href='/css/main.css')

block content
    .container
        .col-sm-12.col-md-8.col-lg-6.mx-auto
            != messages()
            if (!success)
                form#forgotPasswordForm.form-horizontal(method='post', action='/user/forgotPassword', novalidate='novalidate')
                    .form-row
                        .form-group.col-md-8
                            //label.col-sm-4.control-label(for='email') Email
                            input#email.form-control(type='text', name='email', placeholder='Email', aria-required='true', aria-describedby='email-error', aria-invalid='false')
                            if (errors)
                                if (errors.email)
                                    #email-error.error.invalid-feedback= errors.email.msg
                        .form-group.col-md-4
                            button.btn.btn-primary.btn-block(type='submit', value='Send') Send
                p
                    a(href='/user/login') I remember my password

block scripts
    scripts(src='/plugins/jquery.form.min.js')
    script(src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
    script(src='/bower_components/jquery-validation/dist/additional-methods.min.js')
    script(src='/js/main.js')