extends ../layout

block stylesheets
    link(rel='stylesheet', href='/css/main.css')

block content
    .container
        .col-sm-12.col-md-8.col-lg-6.mx-auto
            .row
                .col-12
                    != messages()
            form#resetPasswordForm.form-horizontal(method='post', action='/user/resetPassword/' + resetToken, novalidate='novalidate')
                .form-group
                    .row
                        //label.col-sm-4.control-label(for='password') Password
                        .col-12
                            input#password.form-control.validate-equalTo-blur(type='password', name='password', placeholder='Password', aria-required='true', aria-describedby='password-error', aria-invalid='false')
                            if (errors)
                                if (errors.password)
                                    #password-error.error.invalid-feedback= errors.password.msg
                .form-group
                    .row
                        //label.col-sm-4.control-label(for='password') Password
                        .col-12
                            input#password2.form-control.validate-equalTo-blur(type='password', name='password2', placeholder='Confirm Password', aria-required='true', aria-describedby='password2-error', aria-invalid='false')
                            if (errors)
                                if (errors.password2)
                                    #password-error.error.invalid-feedback= errors.password2.msg
                .form-group
                    .row
                        .col-12
                            button.btn.btn-primary.btn-block(type='submit', value='Reset') Reset

block scripts
    scripts(src='/plugins/jquery.form.min.js')
    script(src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
    script(src='/bower_components/jquery-validation/dist/additional-methods.min.js')
    script(src='/js/main.js')
