extends ../layout

block stylesheets
    link(rel='stylesheet', href='/css/main.css')

block content
    .container
        != messages()
        .alert.alert-info(role='alert')
            | Click on the '
            b top right corner
            |  ' where your email is written and select any of the options.

        h1= user.name
        p= user.username
        p= user.email
        if (user.profileImg)
            img(src='/images/uploads/' + user.profileImg.filename)
