extends ../layout

block stylesheets
    link(rel='stylesheet', href='/css/main.css')

block content
    .container
        != messages()
        h1= user.name
        p= user.username
        p= user.email
        if (user.profileImg)
            img(src='/images/uploads/' + user.profileImg.filename)
